<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" th:href="@{/vendors/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
</head>

<body>
<div id="app">
    <div th:replace="admin/fragments/sidebar :: sidebar(${view})"></div>

    <div id="main">
        <div th:replace="admin/fragments/header :: header"></div>

        <div class="main-content container-fluid">
            <div class="page-title mb-3">
                <h3>Product Management</h3>
                <p class="text-subtitle text-muted">Help you to manager data and display your statistics</p>
            </div>
            <section class="section">

                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center py-5">
                                <a th:href="@{/admin/product/add}" class="btn btn-primary">Add new</a>
                                <form class="d-flex" width="50%"
                                      th:action="@{/admin/product}" method="post">
                                    <input class="dataTable-input me-3" placeholder="Search product by name ..."
                                           type="text" name="query" id="query">
                                    <button class="btn btn-primary btn-sm" type="submit">Search</button>
                                </form>
                            </div>
                            <div class="card-body px-0 pb-0">
                                <div class="table-responsive">
                                    <table class='table table-striped text-center mb-0' id="table1" >
                                        <thead>
                                        <tr>
                                            <th style="width: 2%;">#</th>
                                            <th style="width: 10%;">Product Name</th>
                                            <th style="width: 8%;">Category</th>
                                            <th>Image</th>
                                            <th style="width: 20%;">Description</th>
                                            <th style="width: 5%;">Unit Price</th>
                                            <th style="width: 8%;">Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p, loop : ${products}">
                                            <td th:text="${loop.count}"></td>
                                            <td th:text="${p.name}"></td>
                                            <td th:text="${p.categoryId}"></td>
                                            <td>
                                                <img th:src="${p.getImagePath()}" th:alt="${p.name}" style="width: 200px; object-fit: fill">
                                            </td>
                                            <td th:text="${p.description}"></td>
                                            <td th:text="${p.getUnitPrice()}"></td>
                                            <td th:text="${p.status ? 'Active' : 'Inactive'}"></td>
                                            <td>
                                                <a class="btn icon icon-left btn-primary btn-sm"
                                                   th:href="@{/admin/product/edit/{id}(id=${p.id})}">Edit</a>
                                                <a class="btn icon icon-left btn-danger btn-sm"
                                                   th:href="@{/admin/product/delete/{id}(id=${p.id})}"
                                                   onclick="return confirm('Are you want to hide this?')">Hide</a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="dataTable-bottom">
                            <div class="dataTable-info" th:text="|Total have ${products.size()} entries|"></div>
                            <ul class="pagination pagination-primary float-end dataTable-pagination">
                                <li class="page-item pager"><a href="#" class="page-link">‹</a></li>

                                <th:block th:each="p,loop : ${total_page}">
                                    <li th:class="|page-item ${current_page == loop.index?'active':''}|">
                                        <a class="page-link" th:href="@{|?page=${loop.index}&size=${size}|}"
                                           th:text="${loop.index+1}"></a>
                                    </li>
                                </th:block>

                                <li class="page-item pager"><a href="#" class="page-link">›</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div th:replace="admin/fragments/footer :: footer"></div>
    </div>
</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
</body>
</html>