<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>H-KFC Food</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="E-Commerce Website provide food, drink online">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/frontend/assets/img/favicon.svg}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" th:href="@{/frontend/assets/css/all.min.css}">
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/frontend/assets/bootstrap/css/bootstrap.min.css}">
    <!-- owl carousel -->
    <link rel="stylesheet" th:href="@{/frontend/assets/css/owl.carousel.css}">
    <!-- magnific popup -->
    <link rel="stylesheet" th:href="@{/frontend/assets/css/magnific-popup.css}">
    <!-- animate css -->
    <link rel="stylesheet" th:href="@{/frontend/assets/css/animate.css}">
    <!-- mean menu css -->
    <link rel="stylesheet" th:href="@{/frontend/assets/css/meanmenu.min.css}">
    <!-- main style -->
    <link rel="stylesheet" th:href="@{/frontend/assets/css/main.css}">
    <!-- responsive -->
    <link rel="stylesheet" th:href="@{/frontend/assets/css/responsive.css}">
</head>
</html>