<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<nav th:fragment="navbar">
    <div id="child-nav">
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div id="logo">
            <img id="lines" th:src="@{/frontend/img/red_lines.jpg}" alt=""/>
            <img id="logoImg" th:src="@{/frontend/img/webLogo3.png}" alt=""/>
            <h2>
                <a class="webName" th:href="@{'/'}">H-KFC</a>
            </h2>
        </div>
        <div class="nav-menu">
            <a class="nav-item" th:href="@{/menu}">Menu</a>
            <button id="nav_button"><a th:href="@{/menu}">Start Order</a></button>
            <div class="show_div" id="login_icon">
                <a class="nav-item" th:href="@{/auth}"><i class="fa-sharp fa-solid fa-user"></i></a>
                <p class="show_text">Login</p>
            </div>
            <div class="show_div">
                <a class="nav-item" th:href="@{/cart}"><i class="fa-solid fa-suitcase"></i></a>
                <p class="show_text">My Cart</p>
            </div>
        </div>
        <h3 id="user_name_div" style="display: none;">Welcome <span style="color: teal;" id="user_name"></span></h3>
        <div id="logout_icon" class="show_div" style="display: none;">
            <h2><i class="fa-solid fa-right-from-bracket"></i></h2>
            <a th:href="@{/auth/logout}" class="show_text">Logout</a>
        </div>

    </div>
    <div id="delivery">
        <a href=""><i class="fa-sharp fa-solid fa-location-dot"></i>
            <p>Start an Order for Pickup or Delivery</p>
        </a>
    </div>
</nav>
</body>
</html>