<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer"><!--footer-->
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2020 &copy; Voler</p>
        </div>
        <div class="float-end">
            <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a
                    href="https://ahmadsaugi.com">Ahmad Saugi</a></p>
        </div>
    </div>

    <script th:src="@{/backend/js/feather-icons/feather.min.js}"></script>
    <script th:src="@{/backend/js/app.js}"></script>
    <script th:src="@{/backend/js/main.js}"></script>
    <script th:src="@{/backend/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/backend/vendors/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/backend/vendors/chartjs/Chart.min.js}"></script>
    <script th:src="@{/backend/vendors/dashboard.js}"></script>
</footer>
</body>
</html>