<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/admin/css/style.css}">
    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/admin/css/Chart.min.css}">
    <link rel="stylesheet" th:href="@{/admin/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/admin/css/app.css}">
    <link rel="shortcut icon" th:href="@{/admin/img/favicon.svg}" type="image/x-icon">
</head>
<body>

</body>
</html>