<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/backend/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/backend/vendors/chartjs/Chart.min.css}">
    <link rel="stylesheet" th:href="@{/backend/vendors/perfect-scrollbar/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/backend/css/app.css}">
    <link rel="shortcut icon" th:href="@{/backend/images/favicon.svg}" type="image/x-icon">
</head>
<body>

</body>
</html>