<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Login</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="/css/nprogress.css" rel="stylesheet">-->
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="/admin/auth" method="post" th:object="${formLogin}">
              <h1>Admin Login Form</h1>
              <div class="mb-3">
                <input type="text" class="form-control" style="margin-bottom: 8px" placeholder="Username" th:field="*{username}"/>
                <p style="text-align: left; color: #dc3545" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
              </div>

              <div class="mb-3">
                <input type="password" class="form-control" style="margin-bottom: 8px" placeholder="Password" th:field="*{password}"/>
                <p style="text-align: left; color: #dc3545" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-outline-info btn-sm">Log in</button>
                <a class="reset_pass" onclick="return confirm('Please contact support@hng.com.vn to be help')">Lost your password?</a>
              </div>
            </form>
            <div class="clearfix"></div>
            <p class="text-danger" th:text="*{unauthorized.isEmpty()}? '' : *{unauthorized}">
              <a href="/client/user-login">Back Home</a>
            </p>
            <div class="separator">
              <div>
                <p>©2016 All Rights Reserved - HaNguyen</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
