<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head :: head">
    <title>H-KFC Food</title>
</head>
<body>

<!--PreLoader-->
<!--<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>-->
<!--PreLoader Ends-->

<!-- header -->
<th:block th:replace="client/fragments/header :: header(${cart})"></th:block>
<!-- end header -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Our Menu</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="text-center mb-5">
                    <th:block th:each="c, loop : ${menuList}">
                        <a class="btn btn-outline-warning"
                           th:classappend="${cateId == c.id} ? active"
                           th:href="@{|?id=${c.id}&page=${currentPage}&size=${size}|}" th:text="${c.name}"></a>
                    </th:block>
                </ul>
            </div>
        </div>

        <div class="row product-lists">
            <th:block th:each="p, loop : ${menuItem}">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <img th:src="@{${p.imagePath}}" th:alt="${p.name}">
                        </div>
                        <h3 th:text="${p.name}"></h3>
                        <p class="text-lg-center px-5" th:text="${p.description}"></p>
                        <p class="product-price"
                           th:text="${#numbers.formatDecimal(p.unitPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></p>
                        <a th:href="@{/product(id=${p.id})}"
                           class="btn btn-warning">
                            <i class="fas fa-eye"></i> Detail</a>
                    </div>
                </div>
            </th:block>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1}? disabled">
                        <a class="page-link"
                           th:href="@{|?id=${cateId}&page=${currentPage -1}&size=${size}|}">&laquo;</a>
                    </li>

                    <th:block th:each="i, loop : ${totalPages}">
                        <li class="page-item" th:classappend="${currentPage == loop.count} ? active">
                            <a class="page-link" th:href="@{|?id=${cateId}&page=${loop.count}&size=${size}|}"
                               th:text="${loop.count}"></a>
                        </li>
                    </th:block>

                    <li class="page-item" th:classappend="${currentPage == totalPages.length} ? disabled">
                        <a class="page-link"
                           th:href="@{|?id=${cateId}&page=${currentPage +1}&size=${size}|}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end products -->

<!-- footer -->
<th:block th:replace="client/fragments/footer :: footer"></th:block>
<!-- end footer -->

</body>
</html>