<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDK:Menu</title>
    <link rel="stylesheet" th:href="@{/frontend/css/homePage.css}"/>
    <link rel="stylesheet" th:href="@{/frontend/css/menuPage.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/navbar.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/frontend/img/webLogo3.png}">
    <script src="https://kit.fontawesome.com/2a66bc2625.js" crossorigin="anonymous"></script>
</head>

<body>
<!--<div id="pre_loader"></div>-->

<!-- navbar -->
<nav th:replace="client/fragments/navbar :: navbar"></nav>
<!--  KFC MENU-->

<div id="menu_page_main_div">
    <div>
        <div id="side_menu_bar_outer_div">
            <div id="side_menu_bar">
                <div>
                    <div id="menu_bar_red_lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div>
                        <h1>KDK® MENU</h1>
                    </div>

                    <h3><a>Menu List</a></h3>
                    <th:block th:each="ca : ${catalogs}">
                        <a th:href="@{|?id=${ca.id}&page=${currentPage}&size=${size}|}" th:text="${ca.name}"></a>
                    </th:block>
                </div>

            </div>
        </div>
        <div id="menu_page_items">
            <div id="1" class="food_cards">
                <div class="heading_feature_card_filter">
                    <h1>FEATURED</h1>
                    <h3>Filter : </h3>
                    <select id="filter">
                        <option value="">Default</option>
                        <option value="lth">Low To High</option>
                        <option value="htl">High To Low</option>
                    </select>
                </div>
                <div id="featured_products" class="featured_cards">
                    <th:block th:each="p : ${listProPaging}">
                        <div id="main_card">
                            <div><img th:src="@{${p.imagePath}}" th:alt="${p.name}"></div>
                            <p th:text="${p.name}"></p>
                            <p th:text="${p.unitPrice}"></p>
                            <div id="cart_show_div">
                                <div class="showDiv">
                                <span class="show_eyes">
                                    <a th:href="@{/product(id=${p.id})}">
                                        <i class="fa-solid fa-eye" aria-hidden="true"></i>
                                    </a>
                                </span>
                                    <span class="showText">View</span>
                                </div>
                                <div class="showDiv">
                                    <a th:href="@{/cart}">
                                        <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                                    </a>
                                    <span class="showText">Please Login to add products in cart!</span>
                                    <span id="cartCount"></span>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="pagination">
                    <th:block >
                        <a th:class="${currentPage == 1} ? 'disable'"
                           th:href="@{|?id=${cateId}&page=${currentPage -1}&size=${size}|}">&laquo;</a>
                        <th:block th:each="i, loop : ${totalPages}" >
                            <a th:href="@{|?id=${cateId}&page=${loop.count}&size=${size}|}"
                               th:class="${currentPage == loop.count} ? 'active'"
                               th:text="${loop.count}" ></a>
                        </th:block>
                        <a th:class="${currentPage == totalPages.length} ? 'disable'"
                           th:href="@{|?id=${cateId}&page=${currentPage +1}&size=${size}|}">&raquo;</a>
                    </th:block>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<footer th:replace="client/fragments/footer :: footer"></footer>
<script th:src="@{/frontend/scripts/navbar.js}"></script>
</body>
</html>