<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragments/head :: head">
    <title>H-KFC Food</title>
</head>

<body>
<!--PreLoader-->
<!--<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>-->
<!--PreLoader Ends-->

<!-- header -->
<th:block th:replace="client/fragments/header :: header(${cart})"></th:block>
<!-- end header -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>Single Product</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container" th:object="${product}">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img th:src="${product.imagePath}" th:alt="${product.name}">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3 th:text="${product.name}"></h3>
                    <p class="single-product-pricing" th:text="${#numbers.formatDecimal(product.unitPrice, 3, 'COMMA', 0, 'POINT')} +'đ'"></p>
                    <p th:text="${product.description}"></p>
                    <div class="single-product-form">
                        <form th:action="@{/cart}" method="post" th:object="${form}">
                            <input type="text" th:field="${form.productId}" class="d-none" >
                            <input class="form-control form-control-sm" type="number" placeholder="0" th:field="${form.quantity}" />
                            <p class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="${form.quantity}"></p>
                            <button class="btn btn-primary d-block" type="submit"
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="Please sign in before add to cart">
                                <i class="fas fa-shopping-cart"></i> Add to Cart
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Featured</span> Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <th:block th:each="p, loop : ${featured}">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <img th:src="@{${p.imagePath}}" th:alt="${p.name}">
                        </div>
                        <h3 th:text="${p.name}"></h3>
                        <p class="text-lg-center px-5" th:text="${p.description}"></p>
                        <p class="product-price"
                           th:text="${#numbers.formatDecimal(p.unitPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></p>
                        <a class="btn btn-warning" th:href="@{/product(id=${p.id})}">
                            <i class="fas fa-eye"></i> Detail</a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!-- end more products -->

<!-- footer -->
<th:block th:replace="client/fragments/footer :: footer"></th:block>
<!-- end footer -->
</body>

</html>