<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="icon" type="image/x-icon" th:href="@{/frontend/img/webLogo3.png}">
    <link rel="stylesheet" th:href="@{/frontend/css/homePage.css}"/>
    <link rel="stylesheet" th:href="@{/frontend/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script src="https://kit.fontawesome.com/2a66bc2625.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- navbar -->
<nav th:replace="client/fragments/navbar :: navbar"></nav>
<!-- main content -->
<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Detail</h3>
        <p class="text-subtitle text-muted">Chi tiết sản phẩm</p>
    </div>
    <section class="section" th:object="${product}">
        <div class="row mb-4">
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="card bg-primary bg-lighten-1">
                    <form class="card-content" th:action="@{/cart}" method="post" th:object="${formOrderDetail}">
                        <div class="row no-gutters">
                            <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-center p-1">
                                <img th:src="@{*{productImage}}" class="card-img img-fluid" th:alt="*{productName}">
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" hidden="hidden" th:field="*{productId}" />
                                <div class="card-body text-center">
                                    <h4 class="card-title white" th:text="*{productName}"></h4>
                                    <p class="card-text white" th:text="*{description}"></p>
                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" id="quantity" th:field="*{quantity}" class="form-control" placeholder="0">
                                        <p class="form-text text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
                                    </div>
                                    <button class="btn btn-secondary" type="submit"
                                    th:if="${session.userLogin} == null"
                                            th:onclick="return confirm('Please sign in before order')">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- footer -->
<footer th:replace="client/fragments/footer :: footer"></footer>
<script th:src="@{/frontend/scripts/navbar.js}"></script>
</body>

</html>