<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="icon" type="image/x-icon" th:href="@{/frontend/img/webLogo3.png}">
    <link rel="stylesheet" th:href="@{/frontend/css/homePage.css}"/>
    <link rel="stylesheet" th:href="@{/frontend/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script src="https://kit.fontawesome.com/2a66bc2625.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- navbar -->
<nav th:replace="client/fragments/navbar :: navbar"></nav>
<!-- main content -->
<div class="main-content container">
    <div class="page-title">
        <h3>Detail</h3>
        <p class="text-subtitle text-muted">Chi tiết sản phẩm</p>
    </div>
    <section class="section mt-5">
        <form th:object="${formOrderDetail}" th:action="@{/cart}" method="post">
            <div class="row match-height py-5" >
                <div class="col-md-6 col-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-12">
                                <img th:src="@{${formOrderDetail.imagePath}}" alt="">
                            </div>
                            <div class="col-12">
                                <div class="form-group" hidden="hidden">
                                    <label for="image"></label>
                                    <input type="text" id="image" class="form-control" th:field="*{imagePath}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-vertical">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="id" class="h4 text-center"></label>
                                                    <input type="text" id="id" class="form-control" th:field="*{productId}" hidden="hidden">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="first-name-vertical" class="h4 text-center" th:text="${formOrderDetail.productName}"></label>
                                                    <input type="text" id="first-name-vertical" class="form-control" th:field="*{productName}" hidden="hidden">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea class="form-control bg-transparent border-0" th:field="*{description}" readonly></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="quantity">Quantity</label>
                                                    <input type="number" id="quantity" class="form-control bg-light-1" th:field="*{quantity}" placeholder="0.0">
                                                </div>
                                                <p class="form-text text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="unitPrice" class="text-center">UnitPrice</label>
                                                    <input type="number" id="unitPrice" class="form-control bg-transparent border-0" th:field="*{unitPrice}" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary text-white me-1 mb-1">Add To Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </section>
</div>
<!-- footer -->
<footer th:replace="client/fragments/footer :: footer"></footer>
<script th:src="@{/frontend/scripts/navbar.js}"></script>
</body>

</html>