<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalog Management</title>
</head>
<body>
<div class="main-content container-fluid" th:fragment="catalog(list,page,total,size)">
    <div class="page-title">
        <h3>Catalog Management</h3>
        <small class="text-subtitle text-muted">Trang quản lý danh mục sản phẩm</small>

    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                        <div class="dataTable-dropdown">
                            <a th:href="@{/admin/catalog/add}" class="btn btn-primary">Add new</a>
                        </div>
                        <div class="dataTable-search">
                            <input class="dataTable-input" placeholder="Search..." type="text">
                        </div>
                    </div>
                    <div class="dataTable-container">
                        <table class="table table-striped dataTable-table" id="table1">
                            <thead>
                            <tr>
                                <th style="width: 8%;">#</th>
                                <th style="width: 22%;">Catalog Name</th>
                                <th style="width: 25%;">Description</th>
                                <th style="width: 15%;">Status</th>
                                <th style="width: 30%;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ca, loop : ${list}">
                                <td th:text="${loop.count}"></td>
                                <td th:text="${ca.name}"></td>
                                <td th:text="${ca.description}"></td>
                                <td th:text="${ca.status ? 'Active' : 'Inactive'}"></td>
                                <td>
                                    <a class="btn btn-primary btn-sm icon icon-left"
                                       th:href="@{/admin/catalog/edit/{id}(id=${ca.id})}">Edit</a>
                                    <a class="btn btn-danger btn-sm icon icon-left"
                                            th:href="@{/catalog/delete/{id}(id=${ca.id})}"
                                            onclick="return confirm('Are you want to hide this?')">Hide</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <div class="dataTable-info" th:text="|Total have ${#strings.toString(${total})} entries|"></div>
                        <ul class="pagination pagination-primary float-end dataTable-pagination">
                            <li class="page-item pager"><a href="#" class="page-link">‹</a></li>

                            <th:block th:each="p,loop : ${total}">
                                <li th:class="|page-item ${page==loop.index?'active':''}|">
                                    <a class="page-link" th:href="@{|?page=${loop.index}&size=${size}|}"
                                       th:text="${loop.count}"></a>
                                </li>
                            </th:block>

                            <li class="page-item pager"><a href="#" class="page-link">›</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</div>
</body>
</html>