<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Management</title>
    <th:block th:include="/admin/fragments/head :: head"></th:block>
</head>

<body>
<div id="app">
    <div th:replace="admin/fragments/sidebar :: sidebar(${view})"></div>

    <div id="main">
        <div th:replace="admin/fragments/header :: header"></div>

        <div class="main-content container-fluid">
            <div class="page-title mb-3">
                <h3>Catalog Management</h3>
                <p class="text-subtitle text-muted">Help you to manager data and display your statistics</p>
            </div>
            <section class="section">

                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center py-5">
                                <a th:href="@{/admin/catalog/add}" class="btn btn-primary">Add new</a>
                                <form class="d-flex justify-content-end w-50"
                                      th:action="@{/admin/catalog}" method="post">
                                    <input class="dataTable-input w-75 me-3" placeholder="Search catalog by name ..."
                                           type="text" id="query" name="query">
                                    <button class="btn rounded-3 btn-outline-secondary btn-sm" type="submit">
                                        <i data-feather="search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="card-body px-0 pb-0">
                                <div class="table-responsive">
                                    <table class='table table-striped mb-0' id="table1">
                                        <thead>
                                        <tr>
                                            <th style="width: 8%;">#</th>
                                            <th style="width: 22%;">Catalog Name</th>
                                            <th style="width: 25%;">Description</th>
                                            <th style="width: 15%;">Status</th>
                                            <th style="width: 30%;">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ca, loop : ${catalogs}">
                                            <td th:text="${loop.count}"></td>
                                            <td th:text="${ca.name}"></td>
                                            <td th:text="${ca.description}"></td>
                                            <td th:text="${ca.status ? 'Active' : 'Inactive'}"></td>
                                            <td>
                                                <a class="btn icon icon-left btn-primary btn-sm"
                                                   th:href="@{/admin/catalog/edit/{id}(id=${ca.id})}">Edit</a>
                                                <a class="btn icon icon-left btn-danger btn-sm"
                                                   th:href="@{/admin/catalog/delete/{id}(id=${ca.id})}"
                                                   onclick="return confirm('Are you want to hide this?')">Hide</a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="dataTable-bottom">
                            <div class="dataTable-info" th:text="|Total have ${list.size()} entries|"></div>
                            <ul class="pagination pagination-primary float-end dataTable-pagination">
                                <li class="page-item pager" th:classappend="${currentPage == 1}? disabled">
                                    <a th:href="@{|?page=${currentPage -1}&size=${size}|}" class="page-link">‹</a>
                                </li>

                                <th:block th:each="item, loop : ${totalPage}">
                                    <li th:class="|page-item pager ${currentPage == loop.count ? 'active':''}|">
                                        <a th:href="@{|?page=${loop.count}&size=${size}|}" class="page-link" th:text="${loop.count}"></a>
                                    </li>
                                </th:block>

                                <li class="page-item pager" th:classappend="${currentPage == totalPage.length} ? disabled">
                                    <a th:href="@{|?page=${currentPage+1}&size=${size}|}" class="page-link">›</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div th:replace="admin/fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>